body {
    background-color: #02D096;
    min-height: 100vh;
    font-family: Kumbh Sans;
}
.progress{
    width: 30%;
    align-content: center;
    margin: auto;
}


a:link, a:visited{
color: white;
  background-color: transparent;
  text-decoration: none;
}
a.back{
  color: #000;
  background-color: transparent;
  text-decoration: none;
}


.box { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 3;
} 
h1{
    font-weight: 500;
}

.input-group{
    width: 400px !important;
}
 

    @media (max-width: 576px){
    h1{
        font-size: 38px;
        font-weight: 600 !important;
    }
    h2{
        font-size: 35px;
        font-weight: 400 !important;
    }
    
    
    
  
}