body {
    background-color: #02D096;
    min-height: 100vh;
    font-family: Kumbh Sans;
}
.progress{
    width: 30%;
    align-content: center;
    margin: auto;
}
.box { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 3;
} 

a:link, a:visited{
color: white;
  background-color: transparent;
  text-decoration: none;
}
a.back{
  color: #000;
  background-color: transparent;
  text-decoration: none;
}

h1{
    font-weight: 500;
}

.input-group{
    width: 400px !important;
}
 /* Custom tooltip style */
    .tooltip-inner {
      background-color: #fff !important;
      color: #000 !important;
      border-radius: 12px !important;
      /* padding: 12px 16px !important; */
      font-size: 16px !important;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
      max-width: 580px;
      text-align: left;
    }

    /* Custom white arrow for all directions */
    .tooltip.bs-tooltip-top .tooltip-arrow::before {
      border-top-color: #fff !important;
    }

    .tooltip.bs-tooltip-bottom .tooltip-arrow::before {
      border-bottom-color: #fff !important;
    }

    .tooltip.bs-tooltip-start .tooltip-arrow::before {
      border-left-color: #fff !important;
    }

    .tooltip.bs-tooltip-end .tooltip-arrow::before {
      border-right-color: #fff !important;
    }

    /* Optional: styling for the info icon */
    .info-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #000;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      margin-left: 8px;
    }
    h1{
        font-size: 36px;
    }

    @media (max-width: 576px){
    h1{
        font-size: 38px;
        font-weight: 600 !important;
    }
    h2{
        font-size: 35px;
        font-weight: 400 !important;
    }
    
    
    
  
}